body {
    background: #333;
    color: #fff;
}

a.nav-link {
    color: #ef8a32 !important;
}

nav.navey {
    box-shadow: -1px 3px 21px -1px rgba(112,112,112,1);
}

a.nav-link:hover {
    color: #ef8a32d7 !important;
}

body.pageBody {
    background-color: #fff;
}

a.cover-page:hover {
    text-decoration: none;
}

img.turtleTime:hover {
    transform: scale(1.2);
    transition: 0.75s ease;
}

a.small-link {
    font-size: 0.9rem;
}

.login {
    background: #fff;
    color: #000;
}

.navbar {
    /* background-color: #ef8a32; */
    /* opacity: 0.9; */
}

#main-nav {
    transition: all 0.3s;
}

.btn-tango {
    background-color: #ef8a32 !important;
    color: #fff !important;
    border: none;
}

.btn-tango:hover {
    background-color: #c56816 !important;
    color: #fff;
    border: none;
}

#home-section {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 650px;
}

.jumbotron {
    background: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 680px;
}

.card.jonas {
    background: white;
    box-shadow: 0 2rem 6rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    transform: skewX(-10deg);
    display: flex;
    transition: all 0.5s;
}
.card.jonas:hover {
    transform: skewX(-10deg) scale(1.08);
    box-shadow: 0 3rem 8rem 2rem rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

a.noDec:hover {
    text-decoration: none;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.5)
}

#home-section .dark-overlay-pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 650px;
    background-color: rgba(0, 0, 0, 0.8)
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;

}

#explore-section .fas, #share-section .fas {
    background: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

#create-section .fas {
    background: #fff;
    color: #008ed6;
    padding: 5px;
    border-radius: 5px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ef8a32;
}

.hoverChange:hover {
    color: #1418e0;
}

.dropdown-item:hover {
    color: #ef8a32;
}

.docPage {
    padding-top: 8rem;
    padding-left: 3rem;
    background: #fff;
    min-height: 100%;
}

i.white {
    color: white;
}

h5.card-title {
    color: #ef8a32;
}

a.nav-link.orange {
    background-color: #ef8a32;
}